body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
}

.p-r {
  position: relative;
}

.color-a {
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow,
.other-content-box,
.paralax-mf,
.podcast-box,
.contributors-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
}

.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
}

/*------/ Ul resect /------*/
.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #0078ff;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}

/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0062d3;
  color: #fff;
}

.button-a {
  background-color: #0078ff;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.navbar {
  background-color: white;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .navbar .nav-item {
    padding-left: 10px;
  }
}

.navbar .nav-link {
  color: #0078ff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar .nav-link:before {
  content: "";
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
}

@media (min-width: 768px) {
  .navbar .nav-link:before {
    margin-left: 18px;
  }
}

.navbar .nav-link:hover {
  color: #1b1b1b;
}

.navbar .nav-link:hover:before {
  width: 35px;
}

.navbar .show > .nav-link:before,
.navbar .active > .nav-link:before,
.navbar .nav-link.show:before,
.navbar .nav-link.active:before {
  width: 35px;
}

.navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .nav-link {
  color: #0078ff;
}

.navbar .nav-link:before {
  background-color: #0078ff;
}

.navbar .nav-link:hover {
  color: #0078ff;
}

.navbar .show > .nav-link,
.navbar .active > .nav-link,
.navbar .nav-link.show,
.navbar .nav-link.active {
  color: #0078ff;
}

.navbar .navbar-brand {
  color: #0078ff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar .navbar-toggler span {
  background-color: #1b1b1b;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
  height: 40vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 4.5rem;
  }
}

.intro .intro-subtitle {
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 1.5rem;
  }
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .intro-single .intro-title {
    font-size: 3.5rem;
  }
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*--------------------------------------------------------------
# Podcasts
--------------------------------------------------------------*/
.podcast-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.podcast-box:hover .ico-circle {
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.podcast-box .podcast-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.podcast-box .ico-circle {
  font-size: 4rem;
}

.podcast-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.podcast-box .s-description {
  color: #4e4e4e;
}

.podcast-box .no-show {
  background-color: #ffbaba;
}

/*--------------------------------------------------------------
# Stats
--------------------------------------------------------------*/
.stats-box {
  color: #fff;
  text-align: center;
}

@media (min-width: 577px) {
  .stats-box {
    margin-bottom: 1.8rem;
  }
}

.stats-ico {
  margin-bottom: 1rem;
}

.stats-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #cde1f8;
}

.stats-ico .ico-circle i {
  font-size: 2.5rem;
  margin-top: 0.2em;
}

.stats-num .stats {
  font-size: 2rem;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contributors
--------------------------------------------------------------*/
.contributors-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.contributors-img {
  display: block;
  overflow: hidden;
}

.contributors-content {
  padding: 2rem 3% 1rem 4%;
}

.contributors-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.contributors-content .w-more .w-ctegory {
  font-weight: 600;
}

.contributors-content .w-like {
  font-size: 2rem;
  float: right;
}

.contributors-content .w-like .num-like {
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}

.w-bsn {
  font-size: 1rem;
  font-style: italic;
}

/*--------------------------------------------------------------
# BSNH
--------------------------------------------------------------*/
.bsnh .bsn {
  text-align: center;
}

.bsnh h1 {
  color: white;
  z-index: 1;
  margin-top: -100px;
}

.bsnh .bsn h2 {
  font-size: 1rem;
  color: white;
  margin: 0.3rem 0;
}

.bsnh .bsn h3 {
  font-size: 0.8rem;
  color: white;
}

/*--------------------------------------------------------------
# Other Content
--------------------------------------------------------------*/
.other-content-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}
